@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  width: 100%;

  &__logo {
    font-family: "Shrikhand", sans-serif;
    height: 60px;
    margin: 0;
    @include flexbox-center();
    h1 {
      margin: 0;
      font-size: 26px;
    }
  }
}
