.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  width: 100%;
}
.header__arrow {
  left: 25px;
  top: 20px;
  position: absolute;
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo h1 {
  margin: 0;
  font-size: 28px;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.location__icone {
  margin-right: 15px;
}

.spinner {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: sk-bouncedelay 3s ease-in-out normal forwards;
  opacity: 1;
  background: #ffffff;
  position: fixed;
}
.spinner__bounce1 {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
  animation-delay: 0.5s;
  border-radius: 50%;
  background-color: #9356dc;
}
.spinner__bounce2 {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
  animation-delay: 1s;
  border-radius: 50%;
  background: #ff79da;
}
.spinner__bounce3 {
  width: 25px;
  height: 25px;
  animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
  animation-delay: 1.5s;
  border-radius: 50%;
  background: #99e2d0;
}

@keyframes circle-sparkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sk-bouncedelay {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.intro {
  width: 100%;
  background-color: #f2f2f2;
}
.intro__contenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 55px 0;
}
.intro__titre {
  text-align: center;
  max-width: 240px;
}
.intro__titre h2 {
  margin: 0;
}
.intro__texte {
  max-width: 320px;
  text-align: center;
  margin: 15px 0 25px 0;
}
.intro__boutton button {
  height: 50px;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #ffffff;
  border-radius: 50px;
  opacity: 1;
  border: none;
  box-shadow: 0 0 10px 0 #9e9e9e;
  padding: 0 20px;
}
.intro__boutton button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 #999;
}

.fonctionnement__bloc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px 0 65px 0;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.fonctionnement__titre > h2 {
  margin: 0;
}
.fonctionnement__contenu {
  padding: 25px 0 0 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement__partie {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
  padding-top: 30px;
  padding-bottom: 25px;
}
.fonctionnement__partie:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 #999;
  background: #ebdffc;
}
.fonctionnement__nombre {
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
}
.fonctionnement__icone {
  margin: 0 25px 0 30px;
  color: #9e9e9e;
}
.fonctionnement__icone:hover {
  color: #9356dc;
}
.fonctionnement__texte {
  font-weight: 500;
  font-size: 18px;
}

.restaurants {
  background-color: #f2f2f2;
  flex-direction: column;
  padding: 50px 20px 60px 20px;
}
.restaurants__titre > h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.restaurants__contenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.restaurants__menu {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0 #cfcfcf;
}
.restaurants__menu:hover {
  transition: scale(0.2);
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #c7aaee;
}
.restaurants__menu--image {
  height: 250px;
  width: 100%;
}
.restaurants__menu--image > img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.restaurants__menu--new {
  position: absolute;
  background-color: #99e2d0;
  top: 15px;
  right: 15px;
}
.restaurants__menu--new p {
  color: #107e66;
  margin: 0;
  padding: 8px 10px;
  font-weight: 500;
}
.restaurants__description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}
.restaurants__description--info {
  padding-left: 10px;
}
.restaurants__description--nom {
  font-weight: 700;
  font-size: 18px;
}
.restaurants__description i {
  font-size: 20px;
}
.restaurants__description i:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff79da !important;
}
.restaurants__description .fas.fa-heart {
  color: transparent !important;
}

@media screen and (min-width: 800px) {
  .fonctionnement__contenu {
    flex-direction: row;
  }
  .fonctionnement__partie {
    width: 100%;
  }

  .restaurants__contenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
body {
  width: 100%;
}

.images {
  width: 100%;
  height: 250px;
}
.images > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  max-width: 1440px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f2f2f2;
  margin-top: -50px;
}
.menu__entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 20px 10px 0 30px;
}
.menu__entete--titre > h2 {
  margin: 0;
  font-family: "Shrikhand", sans serif;
  font-size: 28px;
}
.menu__entete i {
  font-size: 25px;
}
.menu__entete i:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff79da !important;
}
.menu__entete .fas.fa-heart {
  color: transparent !important;
}
.menu__contenu {
  display: grid;
  grid-gap: 40px;
  padding: 0 20px;
}
.menu__contenu__partie {
  display: grid;
  grid-gap: 13px;
}
.menu__contenu__titre h3 {
  position: relative;
  font-weight: 400;
}
.menu__contenu__titre h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  left: 0px;
  bottom: -8px;
}
.menu__contenu__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  height: auto;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
}
.menu__contenu__description:hover .check {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__contenu__description:hover .menu__description-prix {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__contenu__description .check {
  display: none;
  position: absolute;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 12px;
  height: 100%;
}
.menu__contenu__description .check i {
  font-size: 30px;
  color: #ffffff;
  transform: rotate(180deg);
  animation: rotation 0.5s both;
}
.menu__description__food {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description__food--nom {
  font-weight: 700;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description__food--info {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description-prix {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}
.menu__boutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__boutton button {
  padding: 15px 45px;
  height: 50px;
  margin: 40px 0 80px 0;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #ffffff;
  border-radius: 50px;
  opacity: 1;
  border: none;
  box-shadow: 0 0 10px 0 #9e9e9e;
}
.menu__boutton button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 #999;
}

.menu-info-et-prix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 800px) {
  .menu__contenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.footer__contenu {
  background-color: #383838;
  color: #ffffff;
  width: 100%;
}
.footer__contenu .footer__logo {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding: 22px 0 20px 20px;
  font-size: 20px;
}
.footer__contenu--liens {
  margin-left: 20px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
}
.footer__contenu--lien {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-bottom: 8px;
}
.footer__contenu--lien:hover {
  text-decoration: underline;
}
.footer__contenu--lien i {
  margin-right: 8px;
}
.footer__contenu--lien__titre {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 800px) {
  .footer__contenu--liens {
    flex-direction: row;
    gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
