body {
  font-family: "roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.18);
  position: relative;
  width: 100%;
  height: 60px;
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo > h1 {
  margin: 0;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  padding: 12px 0;
}
.location__icone {
  margin-right: 15px;
}

.intro {
  width: 100%;
  background-color: #f2f2f2;
}
.intro__contenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 55px 0;
}
.intro__titre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 45px 0 65px 0;
}
.fonctionnement__titre > h2 {
  margin: 0;
  padding-left: 20px;
}
.fonctionnement__contenu {
  padding: 25px 0 0 20px;
}
.fonctionnement__partie {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 25px;
}
.fonctionnement__nombre {
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
}
.fonctionnement__icone {
  margin: 0 25px 0 30px;
}

.restaurants {
  background-color: #f2f2f2;
  flex-direction: column;
  padding: 50px 20px 60px 20px;
}
.restaurants__titre > h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.restaurants__contenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.restaurants__menu {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 lightgrey;
}
.restaurants__menu--image {
  height: 250px;
  width: 100%;
}
.restaurants__menu--image > img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.restaurants__menu--new {
  position: absolute;
  background-color: #99e2d0;
  top: 15px;
  right: 15px;
}
.restaurants__description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}
.restaurants__description--info {
  padding-left: 10px;
}
.restaurants__description--nom {
  font-weight: bold;
}
.restaurants__description--like {
  padding-right: 20px;
}

.images {
  width: 100%;
  height: 250px;
}
.images > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#menu {
  width: 100%;
}

.menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f2f2f2;
  position: absolute;
  margin-top: -50px;
}
.menu__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__entete--titre > h2 {
  margin: 0;
}
.menu__contenu {
  display: grid;
  grid-gap: 40px;
}
.menu__contenu__partie {
  display: grid;
  grid-gap: 13px;
}
.menu__contenu__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: auto;
  width: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
}

.menu-info-et-prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contenu {
  background-color: #383838;
  color: #ffffff;
  width: 100%;
  max-width: 1400px;
}
.footer__contenu .footer__logo {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding: 22px 0 20px 20px;
  font-size: 20px;
}
.footer__contenu--liens {
  margin-left: 20px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
}
.footer__contenu--lien {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-bottom: 8px;
}
.footer__contenu--lien:hover {
  text-decoration: underline;
}
.footer__contenu--lien i {
  margin-right: 8px;
}
.footer__contenu--lien__titre {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
