$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-white: #ffffff;
$couleur-gradient: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin boutton-style {
  background: $couleur-gradient;
  color: $couleur-white;
  border-radius: 50px;
  opacity: 1;
  border: none;
  box-shadow: 0 0 10px 0 #9e9e9e;
}
@mixin boutton-hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 #999;
}
body {
  font-family: "roboto", sans-serif;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.location {
  height: 50px;
  @include flexbox-center();
  background-color: #e8e8e8;

  &__icone {
    margin-right: 15px;
  }
}
.spinner {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: sk-bouncedelay 3s ease-in-out normal forwards;
  opacity: 1;
  background: $couleur-white;
  position: fixed;
  &__bounce1 {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 0.5s;
    border-radius: 50%;
    background-color: $couleur-primaire;
  }
  &__bounce2 {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1s;
    border-radius: 50%;
    background: #ff79da;
  }
  &__bounce3 {
    width: 25px;
    height: 25px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1.5s;
    border-radius: 50%;
    background: $couleur-tertiaire;
  }
}
@keyframes circle-sparkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sk-bouncedelay {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.intro {
  width: 100%;
  background-color: #f2f2f2;
  &__contenu {
    width: 100%;
    @include flexbox-center();
    flex-direction: column;
    padding: 40px 0 55px 0;
  }

  &__titre {
    text-align: center;
    max-width: 240px;
    h2 {
      margin: 0;
    }
  }
  &__texte {
    max-width: 320px;
    text-align: center;
    margin: 15px 0 25px 0;
  }
  &__boutton {
    button {
      height: 50px;
      @include boutton-style();
      padding: 0 20px;
      &:hover {
        @include boutton-hover;
      }
    }
  }
}
.fonctionnement__bloc {
  width: 100%;
  @include flexbox-center();
  flex-direction: column;
  padding: 45px 0 65px 0;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 95%;
  &__titre > h2 {
    margin: 0;
  }
  &__contenu {
    padding: 25px 0 0 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
  &__partie {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #cfcfcf;

    padding-top: 30px;
    padding-bottom: 25px;
    &:hover {
      @include boutton-hover();
      background: #ebdffc;
    }
  }
  &__nombre {
    background-color: $couleur-primaire;
    color: $couleur-white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    @include flexbox-center();
    position: absolute;
    transform: translateX(-50%);
  }
  &__icone {
    margin: 0 25px 0 30px;
    color: #9e9e9e;
    &:hover {
      color: $couleur-primaire;
    }
  }
  &__texte {
    font-weight: 500;
    font-size: 18px;
  }
}
.restaurants {
  background-color: #f2f2f2;
  flex-direction: column;
  padding: 50px 20px 60px 20px;
  &__titre > h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  &__contenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  &__menu {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: 0px 0px 10px 0 #cfcfcf;

    &:hover {
      transition: 0.5s;
      transform: scale(1.02);
      box-shadow: 0px 0px 10px 2px #999;
    }
    &--image {
      height: 250px;
      width: 100%;
      & > img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }
    &--new {
      position: absolute;
      background-color: $couleur-tertiaire;
      top: 15px;
      right: 15px;
      p {
        color: #107e66;
        margin: 0;
        padding: 8px 10px;
        font-weight: 500;
      }
    }
  }
  &__description {
    position: absolute;
    @include flex-spacebetween();
    width: 100%;
    height: 75px;
    background-color: $couleur-white;
    border-radius: 0 0 20px 20px;

    &--info {
      padding-left: 10px;
    }
    &--nom {
      font-weight: 700;
      font-size: 18px;
    }
    i {
      font-size: 20px;
    }
    i:hover {
      cursor: pointer;
      background: $couleur-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $couleur-secondaire;
    }

    .fas.fa-heart {
      color: transparent;
    }
  }
}

@media screen and (min-width: 800px) {
  .fonctionnement {
    &__contenu {
      flex-direction: row;
    }
    &__partie {
      width: 100%;
    }
  }
  .restaurants {
    &__contenu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
