$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-white: #ffffff;
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  max-width: 1440px;
}
.images {
  width: 100%;
  height: 250px;

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
#menu {
  width: 100%;
  @include flexbox-center();
  flex-direction: column;
}
.menu {
  max-width: 1440px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f2f2f2;
  margin-top: -50px;

  &__entete {
    @include flex-spacebetween;
    flex-direction: row;
    margin: 20px 10px 0 30px;

    &--titre > h2 {
      margin: 0;
      font-family: "Shrikhand", sans serif;
      font-size: 28px;
    }
    i {
      font-size: 30px;
    }
    i:hover {
      cursor: pointer;
      background: $couleur-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $couleur-secondaire !important;
    }
    .fas.fa-heart {
      color: transparent !important;
    }
  }
  &__contenu {
    display: grid;
    grid-gap: 40px;
    padding: 0 20px;
    &__partie {
      display: grid;
      grid-gap: 13px;
    }
    &__titre {
      & h3 {
        position: relative;
        font-weight: 400;

        &::after {
          content: "";
          width: 50px;
          height: 4px;
          background: #99e2d0;
          position: absolute;

          left: 0px;
          bottom: -8px;
        }
      }
    }

    &__description {
      @include flex-spacebetween();
      position: relative;
      overflow: hidden;
      background: $couleur-white;
      height: auto;
      width: 100%;
      cursor: pointer;
      border-radius: 15px;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
      &:hover .check {
        @include flexbox-center;
        animation: slide-left 0.5s ease;
        transform-origin: right;
      }
      &:hover .menu__description-prix {
        padding-right: 70px;
        transition: 0.5s ease;
      }
      .check {
        display: none;
        position: absolute;
        background: $couleur-tertiaire;
        border-radius: 0 15px 15px 0;
        right: 0px;
        padding: 0 13px;
        height: 100%;
        i {
          font-size: 30px;
          color: white;
        }
      }
    }
  }
  &__description__food {
    &--nom {
      font-weight: 700;
      font-size: 18px;
    }
    &--info {
      font-size: 15px;
    }
  }
  &__description-prix {
    padding-right: 20px;
    font-weight: bold;
    padding-left: 7px;
  }

  &__boutton {
    @include flexbox-center;
    width: 100%;
    button {
      padding: 15px 45px;
      height: 50px;
      margin-bottom: 80px;
      @include boutton-style();
      &:hover {
        @include boutton-hover;
      }
    }
  }
}
.menu-info-et-prix {
  width: 100%;
  @include flex-spacebetween;
  margin: 10px 0 10px 10px;
}
