$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-white: #ffffff;
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  width: 100%;
}
.images {
  width: 100%;
  height: 250px;

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
#menu {
  width: 100%;
  @include flexbox-center();
  flex-direction: column;
}
.menu {
  max-width: 1440px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f2f2f2;
  margin-top: -50px;

  &__entete {
    @include flex-spacebetween;
    flex-direction: row;
    margin: 20px 10px 0 30px;

    &--titre > h2 {
      margin: 0;
      font-family: "Shrikhand", "sans serif";
      font-size: 28px;
    }
    i {
      font-size: 25px;
    }
    i:hover {
      cursor: pointer;
      background: $couleur-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $couleur-secondaire;
    }
    .fas.fa-heart {
      color: transparent;
    }
  }
  &__contenu {
    display: grid;
    grid-gap: 40px;
    padding: 0 20px;
    &__partie {
      display: grid;
      grid-gap: 13px;
    }
    &__titre {
      & h3 {
        position: relative;
        font-weight: 400;

        &::after {
          content: "";
          width: 50px;
          height: 4px;
          background: #99e2d0;
          position: absolute;
          left: 0px;
          bottom: -8px;
        }
      }
    }

    &__description {
      @include flex-spacebetween();
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      background-color: $couleur-white;
      height: auto;
      width: 100%;
      cursor: pointer;
      border-radius: 15px;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
      animation: move-menu 1s cubic-bezier(0, 0, 0, 1) forwards;
      opacity: 0;
      &:hover .check {
        @include flexbox-center;
        animation-delay: 0.5s;
        transform-origin: right;
      }
      &:hover .menu__description-prix {
        padding-right: 70px;
        transition: 0.5s ease;
      }

      .check {
        display: none;
        position: absolute;
        background: $couleur-tertiaire;
        border-radius: 0 15px 15px 0;
        right: 0px;
        padding: 0 12px;
        height: 100%;
        i {
          font-size: 30px;
          color: $couleur-white;
          transform: rotate(180deg);
          animation: rotation 0.5s both;
        }
      }
    }
  }
  &__description__food {
    overflow: hidden;
    text-overflow: ellipsis;
    &--nom {
      font-weight: 700;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--info {
      font-size: 15px;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__description-prix {
    padding-right: 20px;
    font-weight: bold;
    padding-left: 7px;
  }
  #menu1 {
    animation-delay: 0.1s;
  }

  #menu2 {
    animation-delay: 0.2s;
  }

  #menu3 {
    animation-delay: 0.3s;
  }

  #menu4 {
    animation-delay: 0.4s;
  }

  #menu5 {
    animation-delay: 0.5s;
  }

  #menu6 {
    animation-delay: 0.6s;
  }

  #menu7 {
    animation-delay: 0.7s;
  }

  #menu8 {
    animation-delay: 0.8s;
  }

  #menu9 {
    animation-delay: 0.9s;
  }
  #menu10 {
    animation-delay: 0.9s;
  }
  &__boutton {
    @include flexbox-center;
    width: 100%;
    button {
      padding: 15px 45px;
      height: 50px;
      margin: 40px 0 80px 0;
      @include boutton-style();
      &:hover {
        @include boutton-hover;
      }
    }
  }
}
.menu-info-et-prix {
  width: 100%;
  @include flex-spacebetween;
  margin: 10px 0 10px 10px;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 800px) {
  .menu {
    &__contenu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}
